<%- include('./partials/head') %>

  <body>

    <div class="card">
      <article class="front">
        <header>
          <h1>
            <%= member.name %>
          </h1>
          <button>
            <div class="icon">
              <i class="uil uil-angle-right-b"></i>
              <i class="uil uil-angle-left-b"></i>
            </div>
          </button>
        </header>
        <img src="<%= member.avatar %>" alt="Avatar van <%= member.name %>">
      </article>

      <article class="persoonlijk">
        <header>
          <h1>Wie ben ik</h1>
        </header>
        <p>Ik ben Cathelijne Visser. Ik ben 18 jaar, en ik kom uit Nieuw-Vennep. Ik heb al een beetje ervaring met coderen.
        </p>

      </article>

    </div>

    <%- include('./partials/foot') %>